<h1>Paises</h1>
<hr>

<ul class="list-group">
    <li routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Por capital
    </li>
    <li routerLink="countries/by-country" class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Por país
    </li>
    <li routerLink="countries/by-region" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Por región
    </li>
    <!-- <li routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Capital Page
    </li>
    <li routerLink="countries/by-country" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Pais Page
    </li>
    <li routerLink="countries/by-region" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Region Page
    </li> -->
</ul>